# Core Data Handling
pandas==3.0.3
numpy==2.4.6
python-dateutil==2.9.0.post0
six==1.17.0

# Machine Learning & Optimization
scikit-learn==1.8.0
xgboost==3.2.0
scipy==1.17.1
joblib==1.5.3
threadpoolctl==3.6.0
nvidia-nccl-cu12==2.30.4

# Dashboard & Text Formatting 
rich==15.0.0
markdown-it-py==4.2.0
mdurl==0.1.2
Pygments==2.20.0

# Testing 
pytest==8.1.1

# Plots - for model evalutaion
matplotlib==3.10.0

shap==0.51.0